<md-list flex>

    <md-list-item ng-click="navigationList.viewMap()">
        <md-icon md-font-library="material-icons">
            map
        </md-icon>
        <div class="md-list-item-text"
             layout="column"
             flex>
            <h3>
                Map
            </h3>
        </div>
    </md-list-item>

    <md-list-item ng-click="navigationList.viewPrograms()">
        <md-icon md-font-library="material-icons">
            pregnant_woman
        </md-icon>
        <div class="md-list-item-text"
             layout="column"
             flex>
            <h3>
                Programs
            </h3>
        </div>
    </md-list-item>

    <md-list-item ng-click="navigationList.viewOrganizations()">
        <md-icon md-font-library="material-icons">
            business
        </md-icon>
        <div class="md-list-item-text"
             layout="column"
             flex>
            <h3>
                Organizations
            </h3>
        </div>
    </md-list-item>

    <md-list-item ng-if="navigationList.isAdmin()"
                  ng-click="navigationList.viewUsers()">
        <md-icon md-font-library="material-icons">
            people
        </md-icon>
        <div class="md-list-item-text"
             layout="column"
             flex>
            <h3>
                Users
            </h3>
        </div>
    </md-list-item>

    <md-list-item ng-if="navigationList.isAdmin()"
                  ng-click="navigationList.viewReports()">
        <md-icon md-font-library="material-icons">
            cloud_download
        </md-icon>
        <div class="md-list-item-text"
             layout="column"
             flex>
            <h3>
                Reports
            </h3>
        </div>
    </md-list-item>

</md-list>
