<ng-form ng-if="organizationForm.organization"
         name="organizationForm.orgForm">

    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>
                Company/Organization name
            </label>
            <input name="organizationName"
                   ng-model="organizationForm.organization.name"
                   md-maxlength="organizationForm.config.organizationNameMaxLength"
                   required>
            <div ng-messages="organizationForm.orgForm.organizationName.$error">
                <div ng-message="required">Organization name is required</div>
                <div ng-message="md-maxlength">Organization name is too long</div>
            </div>
        </md-input-container>

    </div>

    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>
                Company/Organization phone
            </label>
            <input name="organizationPhone"
                   ng-model="organizationForm.organization.contactPhone"
                   md-maxlength="organizationForm.config.phoneMaxLength">
            <div ng-messages="organizationForm.orgForm.organizationPhone.$error">
                <div ng-message="md-maxlength">Organization phone is too long</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>
                Company/Organization email
            </label>
            <input name="organizationEmail"
                   ng-model="organizationForm.organization.contactEmail"
                   md-maxlength="organizationForm.config.emailMaxLength"
                   type="email">
            <div ng-messages="organizationForm.orgForm.organizationEmail.$error">
                <div ng-message="email">Organization email must be a valid email</div>
                <div ng-message="md-maxlength">Organization email is too long</div>
            </div>
        </md-input-container>

    </div>

    <div layout-gt-sm="row">

        <md-input-container class="md-block" flex-gt-sm>
            <label>
                Company/Organization website
            </label>
            <input name="organizationWebsiteUrl"
                   ng-model="organizationForm.organization.websiteUrl"
                   md-maxlength="organizationForm.config.urlMaxLength"
                   type="url">
            <div ng-messages="organizationForm.orgForm.organizationWebsiteUrl.$error">
                <div ng-message="url">Organization website must be a valid url</div>
                <div ng-message="md-maxlength">Organization website is too long</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block" flex-gt-sm>
            <label>
                Company/Organization Facebook page
            </label>
            <input name="organizationFacebook"
                   ng-model="organizationForm.organization.facebookUrl"
                   md-maxlength="organizationForm.config.urlMaxLength"
                   type="url">
            <div ng-messages="organizationForm.orgForm.organizationFacebook.$error">
                <div ng-message="url">Organization Facebook page must be a valid url</div>
                <div ng-message="md-maxlength">Organization Facebook page is too long</div>
            </div>
        </md-input-container>

    </div>

</ng-form>
