<!DOCTYPE html>

<html lang="en"
      ng-app="healthBam">

    <head>

        <meta charset="UTF-8">
        <title>Welcome!</title>

        <base href="/">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.js"></script>

        <script src="/webjars/hmhb-client/1.0-SNAPSHOT/app.js"></script>

    </head>

    <body>

        <div ng-controller="ExampleController as example">

            <div>Welcome!</div>

            <all-programs></all-programs>

        </div>

        <script id="program.html"
                type="text/ng-template">
                <div>
                    <label>Program ID:</label>
                    <input ng-model="publishedProgram.program.id"
                           type="text">
                </div>
                <div>
                    <label>Organization Name:</label>
                    <input ng-model="publishedProgram.program.organizationName"
                           type="text">
                </div>
                <div>
                    <label>Geo Info:</label>
                    <input ng-model="publishedProgram.program.geo"
                           type="text">
                </div>
                <div>
                    <label>Created On:</label>
                    <input ng-model="publishedProgram.program.createdOn"
                           type="text">
                </div>
                <div>
                    <label>Created By:</label>
                    <input ng-model="publishedProgram.program.createdBy"
                           type="text">
                </div>
                <div>
                    <label>Last Updated On:</label>
                    <input ng-model="publishedProgram.program.updatedOn"
                           type="text">
                </div>
                <div>
                    <label>Last Updated By:</label>
                    <input ng-model="publishedProgram.program.updatedBy"
                           type="text">
                </div>
        </script>

        <script id="program-request.html"
                type="text/ng-template">
            <div>
                <label>Request ID:</label>
                <input ng-model="programRequest.request.id"
                       type="text">
            </div>
            <div>
                <label>Request Update For Program ID:</label>
                <input ng-model="programRequest.request.programId"
                       type="text">
            </div>
            <div>
                <label>Organization Name:</label>
                <input ng-model="programRequest.request.organizationName"
                       type="text">
            </div>
            <div>
                <label>Geo Info:</label>
                <input ng-model="programRequest.request.geo"
                       type="text">
            </div>
            <div>
                <label>Created On:</label>
                <input ng-model="programRequest.request.createdOn"
                       type="text">
            </div>
            <div>
                <label>Created By:</label>
                <input ng-model="programRequest.request.createdBy"
                       type="text">
            </div>
            <div>
                <label>Last Updated On:</label>
                <input ng-model="programRequest.request.updatedOn"
                       type="text">
            </div>
            <div>
                <label>Last Updated By:</label>
                <input ng-model="programRequest.request.updatedBy"
                       type="text">
            </div>
        </script>

        <script id="all-programs.html"
                type="text/ng-template">

            <div>
                <button ng-click="allPrograms.refreshProgramsAndRequests()">
                    Refresh
                </button>
            </div>

            <h3>Current Programs</h3>

            <div ng-repeat="program in allPrograms.programs">
                <published-program program="program">
                </published-program>
                <button ng-click="allPrograms.saveProgram(program)">
                    Save
                </button>
                <button ng-click="allPrograms.removeProgram(program)">
                    Remove
                </button>
                <hr>
            </div>

            <h3>
                Requested Programs

                <button ng-click="allPrograms.addNewProgramRequest()">
                    Add New
                </button>
            </h3>

            <div ng-repeat="request in allPrograms.programRequests">
                <program-request request="request">
                </program-request>
                <button ng-click="allPrograms.publishProgramRequest(request)">
                    Publish
                </button>
                <button ng-click="allPrograms.saveProgramRequest(request)">
                    Save
                </button>
                <button ng-click="allPrograms.removeProgramRequest(request)">
                    Remove
                </button>
                <hr>
            </div>

        </script>

    </body>

</html>
