<md-button ng-if="!userAccountActions.isAuthenticated()"
           ng-click="userAccountActions.authenticate()">
    <md-icon md-font-library="material-icons">
        account_circle
    </md-icon>
    <span>
        Sign in
    </span>
</md-button>

<md-menu ng-if="userAccountActions.isAuthenticated()">

    <!-- Button to open menu. -->
    <md-button class="md-icon-button health-bam-profile-button"
               aria-label="Account actions"
               ng-click="$mdOpenMenu($event)">
        <img ng-src="{{userAccountActions.getUser().imageUrl}}"
             class="health-bam-profile-image"
             alt="{{userAccountActions.getUser().displayName}}" />
        <md-tooltip md-direction="bottom">
            Account actions
        </md-tooltip>
    </md-button>

    <!-- Menu contents -->
    <md-menu-content>

        <md-menu-item>
            <md-button ng-click="userAccountActions.viewAccount($event)"
                       aria-label="View account">
                <md-icon md-font-library="material-icons">
                    account_circle
                </md-icon>
                <span>
                    View account
                </span>
            </md-button>
        </md-menu-item>

        <md-menu-item>
            <md-button ng-click="userAccountActions.logout()"
                       aria-label="Sign out">
                <md-icon md-font-library="material-icons">
                    close
                </md-icon>
                <span>
                    Sign out
                </span>
            </md-button>
        </md-menu-item>

    </md-menu-content>

</md-menu>
