<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      ng-app="healthBam">

    <head>

        <meta charset="UTF-8" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimal-ui" />

        <title>
            Healthy Mothers, Healthy Babies Coalition of Georgia
        </title>

        <base href="/" />

        <link rel="icon" href="/images/favicon.ico" />

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic" />

        <link rel="stylesheet"
              href="https://fonts.googleapis.com/icon?family=Material+Icons" />

        <link rel="stylesheet"
              href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css" />

        <link rel="stylesheet"
              href="/webjars/hmhb-client/1.0-SNAPSHOT/health-bam.all.min.css" />

    </head>

    <body>

        <div ui-view=""
             flex=""
             layout="column"
             layout-fill="">
        </div>

        <!-- Load Library Scripts. -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0-beta.2/angular-ui-router.js">
        </script>

        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.min.js"></script>-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/satellizer/0.14.1/satellizer.js"></script>

        <script th:src=" 'https://maps.googleapis.com/maps/api/js?key=' + ${googleMapsApiKey}"></script>

        <!-- Load the server's public config. -->
        <script src="/config.js"></script>

        <!-- Load healthBam. -->
        <script src="/webjars/hmhb-client/1.0-SNAPSHOT/health-bam.all.min.js"></script>

    </body>

</html>
