<md-dialog aria-label="Program Form Dialog"
           flex="80">

    <form name="programFormDialog.programForm"
          ng-submit="programFormDialog.save()">

        <md-dialog-content>

            <div class="md-dialog-content">

                <h1>
                    <span ng-if="programFormDialog.program.id">
                        Edit existing program
                    </span>
                    <span ng-if="!programFormDialog.program.id">
                        Create a new program
                    </span>
                </h1>

                <div ng-if="programFormDialog.loading"
                     layout="row"
                     layout-sm="column"
                     layout-align="space-around">

                    <md-progress-circular md-mode="indeterminate">
                    </md-progress-circular>

                </div>

                <div ng-if="!programFormDialog.loading">

                    <!-- Public information -->

                    <md-input-container class="md-block" flex>
                        <label>
                            Company/Organization
                        </label>
                        <md-select name="organization"
                                   ng-model="programFormDialog.program.organization"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   required>
                            <md-option ng-value="programFormDialog.newOrganization">
                                Create new organization
                            </md-option>
                            <md-option ng-repeat="organization in programFormDialog.organizations"
                                       ng-value="organization"
                                       ng-bind="organization.name">
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <fieldset ng-if="programFormDialog.isNewOrganization()"
                              md-colors="{borderColor: 'primary'}">

                        <health-bam-organization-form organization="programFormDialog.program.organization">
                        </health-bam-organization-form>

                    </fieldset>

                    <h2>
                        <span md-colors="{color: 'primary'}">
                            Program information
                        </span>
                    </h2>

                    <div layout-gt-sm="row">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                Program name
                            </label>
                            <input name="programName"
                                   ng-model="programFormDialog.program.name"
                                   required>
                            <div ng-messages="programFormDialog.programForm.programName.$error">
                                <div ng-message="required">Program name is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>
                                Program start year
                            </label>
                            <input name="programStartYear"
                                   ng-model="programFormDialog.program.startYear"
                                   type="number"
                                   min="{{programFormDialog.config.programStartYearMin}}"
                                   max="{{programFormDialog.getCurrentYear()}}"
                                   ng-pattern="/^[0-9]{4}$/">
                            <div ng-messages="programFormDialog.programForm.programStartYear.$error">
                                <!-- This isn't reachable in Chrome, however, Firefox allows you to type non-digits. -->
                                <div ng-message="number">Program start year must be a number</div>
                                <div ng-message="min">
                                    Program start year must be at least
                                    <span ng-bind="programFormDialog.config.programStartYearMin"></span>
                                </div>
                                <div ng-message="max">Program start year must not be in the future</div>
                                <!-- This doesn't seem to be reachable due to type="number" + min + max covering all
                                     ways we could have something that wouldn't match this pattern. -->
                                <div ng-message="pattern">Program start year must be in the format YYYY</div>
                            </div>
                        </md-input-container>

                    </div>

                    <md-input-container class="md-block">
                        <label>
                            Address
                        </label>
                        <input name="programAddress"
                               ng-model="programFormDialog.program.streetAddress"
                               md-maxlength="programFormDialog.config.programStreetAddressMaxLength"
                               required>
                        <div ng-messages="programFormDialog.programForm.programAddress.$error">
                            <div ng-message="md-maxlength">Address is too long</div>
                            <div ng-message="required">Address is required</div>
                        </div>
                    </md-input-container>

                    <div layout-gt-sm="row">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                City
                            </label>
                            <input name="programCity"
                                   ng-model="programFormDialog.program.city"
                                   md-maxlength="programFormDialog.config.programCityMaxLength"
                                   required>
                            <div ng-messages="programFormDialog.programForm.programCity.$error">
                                <div ng-message="md-maxlength">City is too long</div>
                                <div ng-message="required">City is required</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                State
                            </label>
                            <md-select name="programState"
                                       ng-model="programFormDialog.program.state">
                                <md-option ng-value="'GA'">
                                    GA
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                Postal code
                            </label>
                            <input name="programZip"
                                   ng-model="programFormDialog.program.zipCode"
                                   ng-pattern="/^[0-9]{5}([ \-][0-9]{4})?$/">
                            <div ng-messages="programFormDialog.programForm.programZip.$error">
                                <div ng-message="pattern">
                                    Postal code must be valid US zip code format
                                </div>
                            </div>
                        </md-input-container>
                    </div>

                    <md-checkbox name="servesAllCounties"
                                 ng-model="programFormDialog.program.servesAllCounties"
                                 aria-label="Serves all counties?">
                        Serves all counties?
                    </md-checkbox>

                    <health-bam-counties-field ng-if="!programFormDialog.program.servesAllCounties"
                                               counties="programFormDialog.program.countiesServed">
                    </health-bam-counties-field>

                    <div class="health-bam-program-areas-container">
                        <fieldset md-colors="{borderColor: 'primary'}">
                            <legend md-colors="{color: 'primary'}">
                                Program areas (check all that apply)
                            </legend>
                            <div layout-wrap
                                 layout-gt-sm="row" >
                                <div flex-gt-sm="50"
                                     ng-repeat="programArea in programFormDialog.programAreas">
                                    <md-checkbox ng-model="programArea.value"
                                                 aria-label="programArea.name">
                                        <!-- Checkbox doesn't work with ng-bind. -->
                                        {{programArea.name}}
                                    </md-checkbox>
                                </div>

                                <div flex-gt-sm="50">
                                    <md-checkbox ng-model="programFormDialog.otherProgramArea"
                                                 aria-label="Other">
                                        Other (please explain)
                                    </md-checkbox>
                                </div>

                            </div>
                            <md-input-container ng-if="programFormDialog.otherProgramArea"
                                                class="md-block">
                                <label>
                                    Explanation
                                </label>
                                <input name="otherProgramAreaExplanation"
                                       ng-model="programFormDialog.program.otherProgramAreaExplanation"
                                       required>
                                <div ng-messages="programFormDialog.programForm.otherProgramAreaExplanation.$error">
                                    <div ng-message="required">Please provide an explanation</div>
                                </div>
                            </md-input-container>
                        </fieldset>
                    </div>

                    <md-input-container class="md-block">
                        <label>
                            Primary program goal #1
                        </label>
                        <textarea name="primaryGoal1"
                                  ng-model="programFormDialog.program.primaryGoal1"
                                  md-maxlength="programFormDialog.config.programGoalMaxLength"
                                  rows="1"
                                  required>
                        </textarea>
                        <div ng-messages="programFormDialog.programForm.primaryGoal1.$error">
                            <div ng-message="md-maxlength">Primary program goal #1 is too long</div>
                            <div ng-message="required">Primary program goal #1 is required</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Primary program goal #2
                        </label>
                        <textarea name="primaryGoal2"
                                  ng-model="programFormDialog.program.primaryGoal2"
                                  md-maxlength="programFormDialog.config.programGoalMaxLength"
                                  rows="1">
                        </textarea>
                        <div ng-messages="programFormDialog.programForm.primaryGoal2.$error">
                            <div ng-message="md-maxlength">Primary program goal #2 is too long</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Primary program goal #3
                        </label>
                        <textarea name="primaryGoal3"
                                  ng-model="programFormDialog.program.primaryGoal3"
                                  md-maxlength="programFormDialog.config.programGoalMaxLength"
                                  rows="1">
                        </textarea>
                        <div ng-messages="programFormDialog.programForm.primaryGoal3.$error">
                            <div ng-message="md-maxlength">Primary program goal #3 is too long</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Measurable program outcome #1
                        </label>
                        <textarea name="measurableOutcome1"
                                  ng-model="programFormDialog.program.measurableOutcome1"
                                  md-maxlength="programFormDialog.config.programOutcomeMaxLength"
                                  rows="1"
                                  required>
                        </textarea>
                        <div ng-messages="programFormDialog.programForm.measurableOutcome1.$error">
                            <div ng-message="md-maxlength">Measurable program outcome #1 is too long</div>
                            <div ng-message="required">Measurable program outcome #1 is required</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Measurable program outcome #2
                        </label>
                        <textarea name="measurableOutcome2"
                                  ng-model="programFormDialog.program.measurableOutcome2"
                                  md-maxlength="programFormDialog.config.programOutcomeMaxLength"
                                  rows="1">
                        </textarea>
                        <div ng-messages="programFormDialog.programForm.measurableOutcome2.$error">
                            <div ng-message="md-maxlength">Measurable program outcome #2 is too long</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Measurable program outcome #3
                        </label>
                        <textarea name="measurableOutcome3"
                                  ng-model="programFormDialog.program.measurableOutcome3"
                                  md-maxlength="programFormDialog.config.programOutcomeMaxLength"
                                  rows="1">
                        </textarea>
                        <div ng-messages="programFormDialog.programForm.measurableOutcome3.$error">
                            <div ng-message="md-maxlength">Measurable program outcome #3 is too long</div>
                        </div>
                    </md-input-container>

                </div>

            </div>

        </md-dialog-content>

        <md-dialog-actions>

            <span flex></span>

            <md-button ng-click="programFormDialog.cancel()"
                       aria-label="Cancel">
                Cancel
            </md-button>

            <md-button type="submit"
                       aria-label="Save"
                       ng-disabled="programFormDialog.programForm.$invalid && programFormDialog.programForm.$dirty">
                Save
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
