<md-dialog aria-label="Program Form Dialog"
           flex="80">

    <form name="programFormDialog.programForm"
          ng-submit="programFormDialog.save()">

        <md-dialog-content>

            <div class="md-dialog-content">

                <h1>
                    <span ng-if="programFormDialog.program.id">
                        Edit existing program
                    </span>
                    <span ng-if="!programFormDialog.program.id">
                        Create a new program
                    </span>
                </h1>

                <div ng-if="programFormDialog.loading"
                     layout="row"
                     layout-sm="column"
                     layout-align="space-around">

                    <md-progress-circular md-mode="indeterminate">
                    </md-progress-circular>

                </div>

                <div ng-if="!programFormDialog.loading">

                    <!-- Public information -->

                    <md-input-container class="md-block" flex>
                        <label>
                            Company/Organization
                        </label>
                        <md-select name="organization"
                                   ng-model="programFormDialog.program.organization"
                                   ng-model-options="{trackBy: '$value.id'}"
                                   required>
                            <md-option ng-value="programFormDialog.newOrganization">
                                Create new organization
                            </md-option>
                            <md-option ng-repeat="organization in programFormDialog.organizations"
                                       ng-value="organization"
                                       ng-bind="organization.name">
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <fieldset ng-if="programFormDialog.isNewOrganization()"
                              md-colors="{borderColor: 'primary'}">

                        <h2>
                        <span md-colors="{color: 'primary'}">
                            New organization information
                        </span>
                        </h2>

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    Company/Organization name
                                </label>
                                <input name="organizationName"
                                       ng-model="programFormDialog.program.organization.name"
                                       required>
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    Company/Organization phone
                                </label>
                                <input name="organizationPhone"
                                       ng-model="programFormDialog.program.organization.contactPhone">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    Company/Organization email
                                </label>
                                <input name="organizationEmail"
                                       ng-model="programFormDialog.program.organization.contactEmail"
                                       type="email">
                            </md-input-container>

                        </div>

                        <div layout-gt-sm="row">

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    Company/Organization website
                                </label>
                                <input name="organizationWebsiteUrl"
                                       ng-model="programFormDialog.program.organization.websiteUrl"
                                       type="url">
                            </md-input-container>

                            <md-input-container class="md-block" flex-gt-sm>
                                <label>
                                    Company/Organization Facebook page
                                </label>
                                <input name="organizationFacebook"
                                       ng-model="programFormDialog.program.organization.facebookUrl"
                                       type="url">
                            </md-input-container>

                        </div>

                    </fieldset>

                    <h2>
                        <span md-colors="{color: 'primary'}">
                            Program information
                        </span>
                    </h2>

                    <div layout-gt-sm="row">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                Program name
                            </label>
                            <input name="programName"
                                   ng-model="programFormDialog.program.name"
                                   required>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>
                                Program start year
                            </label>
                            <input name="programStartYear"
                                   ng-model="programFormDialog.program.startYear"
                                   type="number"
                                   min="1500"
                                   max="{{programFormDialog.getCurrentYear()}}"
                                   ng-pattern="/^[0-9]{4}$/">
                        </md-input-container>

                    </div>

                    <md-input-container class="md-block">
                        <label>
                            Address
                        </label>
                        <input name="programAddress"
                               ng-model="programFormDialog.program.streetAddress"
                               required>
                    </md-input-container>

                    <div layout-gt-sm="row">

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                City
                            </label>
                            <input name="programCity"
                                   ng-model="programFormDialog.program.city"
                                   required>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                State
                            </label>
                            <md-select name="programState"
                                       ng-model="programFormDialog.program.state">
                                <md-option ng-value="'GA'">
                                    GA
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block" flex-gt-sm>
                            <label>
                                Postal code
                            </label>
                            <input name="programZip"
                                   ng-model="programFormDialog.program.zipCode">
                        </md-input-container>

                    </div>

                    <md-checkbox name="servesAllCounties"
                                 ng-model="programFormDialog.program.servesAllCounties"
                                 aria-label="Serves all counties?">
                        Serves all counties?
                    </md-checkbox>

                    <health-bam-counties-field ng-if="!programFormDialog.program.servesAllCounties"
                                               counties="programFormDialog.program.countiesServed">
                    </health-bam-counties-field>

                    <div class="health-bam-program-areas-container">
                        <fieldset md-colors="{borderColor: 'primary'}">
                            <legend md-colors="{color: 'primary'}">
                                Program areas (check all that apply)
                            </legend>
                            <div layout-wrap
                                 layout-gt-sm="row" >
                                <div flex-gt-sm="50"
                                     ng-repeat="programArea in programFormDialog.programAreas">
                                    <md-checkbox ng-model="programArea.value"
                                                 aria-label="programArea.name">
                                        <!-- Checkbox doesn't work with ng-bind. -->
                                        {{programArea.name}}
                                    </md-checkbox>
                                </div>

                                <div flex-gt-sm="50">
                                    <md-checkbox ng-model="programFormDialog.otherProgramArea"
                                                 aria-label="Other">
                                        Other (please explain)
                                    </md-checkbox>
                                </div>

                            </div>
                            <md-input-container ng-if="programFormDialog.otherProgramArea"
                                                class="md-block">
                                <label>
                                    Explanation
                                </label>
                                <input name="otherProgramAreaExplanation"
                                       ng-model="programFormDialog.program.otherProgramAreaExplanation"
                                       required>
                            </md-input-container>
                        </fieldset>
                    </div>

                    <md-input-container class="md-block">
                        <label>
                            Primary program goal #1
                        </label>
                        <textarea name="primaryGoal1"
                                  ng-model="programFormDialog.program.primaryGoal1"
                                  md-maxlength="500"
                                  rows="1"
                                  required>
                    </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Primary program goal #2
                        </label>
                        <textarea name="primaryGoal2"
                                  ng-model="programFormDialog.program.primaryGoal2"
                                  md-maxlength="500"
                                  rows="1">
                    </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Primary program goal #3
                        </label>
                        <textarea name="primaryGoal3"
                                  ng-model="programFormDialog.program.primaryGoal3"
                                  md-maxlength="500"
                                  rows="1">
                    </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Measurable program outcome #1
                        </label>
                        <textarea name="measurableOutcome1"
                                  ng-model="programFormDialog.program.measurableOutcome1"
                                  md-maxlength="500"
                                  rows="1"
                                  required>
                    </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Measurable program outcome #2
                        </label>
                        <textarea name="measurableOutcome2"
                                  ng-model="programFormDialog.program.measurableOutcome2"
                                  md-maxlength="500"
                                  rows="1">
                    </textarea>
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>
                            Measurable program outcome #3
                        </label>
                        <textarea name="measurableOutcome3"
                                  ng-model="programFormDialog.program.measurableOutcome3"
                                  md-maxlength="500"
                                  rows="1">
                    </textarea>
                    </md-input-container>

                </div>

            </div>

        </md-dialog-content>

        <md-dialog-actions>

            <span flex></span>

            <md-button ng-click="programFormDialog.cancel()"
                       aria-label="Cancel">
                Cancel
            </md-button>

            <md-button type="submit"
                       aria-label="Save"
                       ng-disabled="programFormDialog.programForm.$invalid && programFormDialog.programForm.$dirty">
                Save
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
