<md-dialog aria-label="User Form Dialog"
           flex="80">

    <form name="userFormDialog.userForm"
          ng-submit="userFormDialog.save()">

        <md-dialog-content>

            <div class="md-dialog-content">

                <h1>
                    <span>
                        Create a new admin
                    </span>
                </h1>

                <div ng-if="userFormDialog.loading"
                     layout="row"
                     layout-sm="column"
                     layout-align="space-around">

                    <md-progress-circular md-mode="indeterminate">
                    </md-progress-circular>

                </div>

                <div ng-if="!userFormDialog.loading">

                    <md-input-container class="md-block"
                                        layout="row">
                        <label>
                            Email
                        </label>
                        <input name="userEmail"
                               ng-model="userFormDialog.user.email"
                               md-maxlength="userFormDialog.config.emailMaxLength"
                               type="email"
                               required>
                        <div ng-messages="userFormDialog.userForm.userEmail.$error">
                            <div ng-message="md-maxlength">Email is too long</div>
                            <div ng-message="email">Email must be a valid email</div>
                            <div ng-message="required">Email is required</div>
                        </div>
                    </md-input-container>

                </div>

            </div>

        </md-dialog-content>

        <md-dialog-actions>

            <span flex></span>

            <md-button ng-click="userFormDialog.cancel()"
                       aria-label="Cancel">
                Cancel
            </md-button>

            <md-button type="submit"
                       aria-label="Save"
                       ng-disabled="userFormDialog.userForm.$invalid && userFormDialog.userForm.$dirty">
                Save
            </md-button>

        </md-dialog-actions>

    </form>

</md-dialog>
